article {
  margin-bottom: 2rem;
}
.flashes {
  list-style: none;
  padding: 1rem;
}

.flashes li.success {
  color: green;
}
.flashes li.error {
  color: red;
}

.button-link {
  background-color: #f0f0f0;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}

.button-link:hover {
  background-color: #e0e0e0;
}

.button-danger {
  background-color: #ff4d4d;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-danger:hover {
  background-color: #d93636;
}

/* Search */

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.search-input {
  padding: 8px 12px 8px 32px; /* Add left space for the icon */
  width: 300px;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #888;
  pointer-events: none;
}
