<!-- Inherit the shared layout and styles from base.html -->
{% extends "base.html" %}

<!-- Set the page title shown in the browser tab -->
{% block title %}Login{% endblock %}

<!-- Main page content: blog listing and search -->
{% block content %}

<!-- Login form for user authentication
  - User can enter username and password 
-->
<h2>Login</h2>
<form method="post">
  <label for="username">Username:</label><br />
  <input type="text" name="username" id="username" /><br /><br />

  <label for="password">Password:</label><br />
  <input type="password" name="password" id="password" /><br /><br />

  <button type="submit">Login</button>
</form>
{% endblock %}
